html { 
  /*background: url('./../img/bg.png');*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
  height:100%;
}

body {
  height:100%;
}

#loveIsButton {
  font-family:buttonFont;
  margin: auto;
  text-decoration:none;
}

#backButton{
  font-family:buttonFont;
  visibility:hidden;
  margin: auto;
  -webkit-transform:scale(0.8);
}

#loveIsImg {
  text-align: center;
  height: 500px;
  width: 100%;
}



#wrapperButtons {
  width: 200px;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  margin-top: 510px;
  top:0;
  margin-left: 0 auto;
  margin-right: 0 auto;
    // border: solid 2px red;
}

#loveIsImg img {
  height: 500px;
}


@font-face{
  font-family: myFirstFont;
  src: url('./fonts/Nexa Light.otf');
}

@font-face{
  font-family: buttonFont;
  src: url('./fonts/Oranienbaum.ttf');
}

#dedicated {
  position: absolute;
  bottom:50px;
  font-family:myFirstFont;
  color: black;
  font-size: 200%;
  margin-left: 20px;
}

#dedicated img {
  width: 50px;
}

#buttons {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /*border: solid 2px green;*/
}




#backButtonDiv {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
  height: 40px;
  /*border: solid 2px blue;*/
}



